@page
@* dont forget to chage folder name pages view customers *@
@model Project.Pages.ViewAlbums
@* dont forget to change cutomer entities *@
@using albumsEntities
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Application</title>
</head>
<body>

    <table border="1">
        <tr>
            <th>Album ID</th>
            <th>Title</th>


        </tr>
        @foreach (Album album in Model.Albums)
        {
            <tr>
                <td>@album.AlbumID</td>
                <td>@album.Title</td>


            </tr>
        }
    </table>
</body>

</html>