@page
@* dont forget to chage folder name pages view customers *@
@model Project.Pages.IndexModel
@* dont forget to change cutomer entities *@
@using albumsEntities
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    <a asp-page="/Insert">Add Album</a>


    <table border="1">
        <tr>

            <th>Title</th>
            <th>Artist Name</th>
        </tr>

        @foreach (var a in Model.Albums)
        {
            <tr>
                <td>@a.Title</td>
                <td>@a.Artist.Name</td>
                <td>
                    <a asp-page="/ViewAlbumDetails" asp-route-AlbumID="@a.AlbumId">Details</a>
                </td>
            </tr>
        }


    </table>
