
@page
@model Project.Pages.InsertModel
@using albumsEntities
@{
    Layout = "_Layout";
}
<h2>Insert Album, Artist and Tracks</h2>

<div class="album-card">
    <form method="post">
        @Html.AntiForgeryToken()

        <!-- album Section -->
        <label for="">Album Title:
        <input type="text" name="tbxAlbumTitle" placeholder="Album Title" required class="form-input"/></label>
     

        <!-- artist section -->
        <label for="">Artist Name:
        <input list="artists" name="tbxArtist" placeholder="Artist"  required class="form-input"/></label>
        <datalist id="artists">
            @foreach (var artist in Model.Artists)
            {
                <option value="@artist.Name">@artist.Name</option>
            }
        </datalist>
     

        <!-- tracks Section -->
        <div id="tracks-container">
            <label for="">Track Name:
            <input type="text" name="tbxTrackNames" placeholder="Track Name" class="form-input"/>
            </label>
        </div>
     
        <button type="button" class="btn addbtn" onclick="addTrackInsertbtn()">Add Another Track</button>
  

        <input type="submit" value="Save" class="btn"/>
           <!-- cancel button inside form -->
    <button type="button" class="btn" onclick="window.location.href='/Index'">Cancel</button>
    </form>
  
</div>


